
  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Me&Be</h4>
  	 			<ul>
  	 				<li><a href="#"></a></li>
  	 				<li><a href="#">Email: ut.edu.vn</a></li>
  	 				<li><a href="#">Điện thoại: 0334445555</a></li>
  	 				<li><a href="#">Văn phòng: Số 2 Võ Oanh Q.Bình Thạnh</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Thành viên phát triển</h4>
  	 			<ul>
  	 				<li><a href="#">Trần Huy Hoàng</a></li>
  	 				<li><a href="#">Trần Lê Minh Tân</a></li>
  	 				<li><a href="#">Lê Gia Bảo</a></li>
  	 				<li><a href="#">Nguyễn Hữu Thuận</a></li>
  	 				<li><a href="#">Hoàng Minh Triết</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Về chúng tôi</h4>
  	 			<ul>
  	 				<li><a href="#">Giới thiệu về Me&Be</a></li>
  	 				<li><a href="#">Chính sách bảo mật</a></li>
  	 				<li><a href="#">Điều khoản chung</a></li>
  	 				<li><a href="#">Tuyển dụng </a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Hỗ trợ khách hàng</h4>
				   <ul>
				   <li><a href="#">Tra cứu hóa đơn</a></li>
				   <li><a href="#">Mua & giao nhận hoá đơn</a></li>
				   <li><a href="#">Bảo hành và bảo trì</a></li>
				   <li><a href="#">Đổi trả và hoàn tiền</a></li>
			   </ul>
			</div>
  	 	</div>
  	 </div>
  </footer>

